@page "/login"

@attribute [AllowAnonymous]

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

﻿<div class="flex flex-row justify-center">
    <Card Width="420px">
        <CardHeader>
            <div class="flex flex-col justify-center items-center text-center gap-2">
                <Avatar Name="A" />
                <h3 class="-mt-4 text-xl">Welcome back</h3>
                <small class="-mt-4 text-sm text-muted-foreground">Sign in to your account to continue</small>
            </div>
        </CardHeader>
        <CardContent>
            <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <div class="flex flex-col">
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <Alert Icon="" Title=""
                               Description="@errorMessage"
                               Type="AlertType.Destructive" />
                    }

                    <div class="w-full">
                        <Input TItem="string" Label="Email" Type="text"
                               Placeholder="name@example.com"
                               @bind-Value="loginModel.Email" />
                        <ValidationMessage For="@(() => loginModel.Email)" class="text-xs text-red-500 mt-2" />
                    </div>
                    <div class="w-full">
                        <Input TItem="string" Label="Password"
                               Type="password"
                               Placeholder="••••••••••"
                               @bind-Value="loginModel.Password" />
                        <ValidationMessage For="@(() => loginModel.Password)" class="text-xs text-red-500 mt-2" />
                    </div>

                    <div class="flex flex-row justify-between items-center w-full">
                        <div>
                            <Checkbox Label="Remember me" Checked="loginModel.RememberMe" OnClick="@(() => loginModel.RememberMe = !loginModel.RememberMe)" />
                        </div>
                        <a class="block no-underline hover:underline text-sm font-normal" href="#">Forgot password?</a>
                    </div>

                    <Button Action="ButtonAction.Submit"
                            Type="@(isLoading ? ButtonType.Loading : ButtonType.Primary)"
                            Disabled="isLoading"
                            Text="Sign in"
                            Class="flex justify-center"
                            Width="100%" />

                </div>
            </EditForm>

            <div class="continue-with relative w-full text-center text-xs">
                <span class="muted-color block z-10">OR CONTINUE WITH</span>
            </div>
            <div class="w-full flex justify-between gap-4">
                <div class="w-1/2">
                    <Button Type="ButtonType.Outline"
                            Class="flex flex-col items-center justify-center"
                            Width="100%"
                            OnClick="HandleGitHubLogin">
                        GitHub
                    </Button>
                </div>
                <div class="w-1/2">
                    <Button Type="ButtonType.Outline"
                            Class="flex flex-col items-center justify-center"
                            Width="100%"
                            OnClick="HandleGoogleLogin">
                        Google
                    </Button>
                </div>
            </div>

        </CardContent>
        <CardFooter>
            <div class="w-full flex flex-row justify-center p-4 pt-0">
                <small class="block ta-center muted-color">Don't have an account? <a href="/register" class="no-underline hover:underline text-[var(--primary-fg)]">Sign up</a></small>
            </div>
        </CardFooter>
    </Card>
</div>


@code {
    private LoginModel loginModel = new();
    private bool isLoading;
    private string errorMessage = string.Empty;

    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private async Task HandleLogin()
    {
        isLoading = true;
        var response = await JSRuntime.InvokeAsync<LoginResponse>("login", loginModel.Email, loginModel.Password, loginModel.RememberMe);

        isLoading = false;

        if (response.IsSuccess)
        {
            NavigationManager.NavigateTo(ReturnUrl ?? "/", true);
        }
        else
        {
            errorMessage = response.ErrorMessage ?? "Login failed";
        }
    }

    private void HandleGitHubLogin() { }
    private void HandleGoogleLogin() { }
}